.custom-container {
  display: flex;
  background-color: rgb(13, 110, 17);
  /* padding: 50px 0; */
  height: 500px;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 10% 0 30%;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
}

.first {
  padding: 10px 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  background-color: rgb(46, 7, 119);
  background-repeat: repeat;
}
.view-text {
  padding-top: 10px;
  color: rgb(196, 184, 184);
}

.second {
  padding: 10px 40px;
  width: 450px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.second-text {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  border: 1px solid rgb(46, 7, 119);
  background-color: rgb(20, 122, 7);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 7px 20px;
}

@media (max-width: 767px) {
  .mobile {
    display: none;
  }
}
