.activeStyle {
  text-decoration: none;
  color: rgb(12, 201, 12);
  padding: 15px;
  transition-duration: 0.3s;
}

.logo {
  border: 2px solid gray;
  border-radius: 2px;
  padding: 15px 20px;
}

.custom {
  text-decoration: none;
  color: rgb(56, 54, 54);
  margin-left: 5px;
  font-size: 16px;
}

.custom:hover {
  color: rgb(224, 196, 35);
  padding-bottom: 2px;
  border-radius: 3px;
}
